apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backup-storage
  namespace: dev
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: fast-ssd
  resources:
    requests:
      storage: 20Gi

