apiVersion: v1
kind: ConfigMap
metadata:
  name: proxy-client-eureka-config
  namespace: dev
data:
  application.yml: |
    eureka:
      client:
        enabled: true
        service-url:
          defaultZone: http://service-discovery:8761/eureka/
        register-with-eureka: true
        fetch-registry: true
      instance:
        prefer-ip-address: false
        hostname: proxy-client
    spring:
      cloud:
        discovery:
          enabled: true

