
name: Prod, on PUSH Java CI/CD of order-service-ecommerce-boot, ecommerce-microservice-backend app

on:
  push:
    branches: [ stage ]

jobs:
  build_push:
    #needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build Docker image for order-service-ecommerce-boot Microservice
      run: docker build -f order-service/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/order-service-ecommerce-boot:${{ secrets.PROJECT_VERSION }}stage .
    - name: Push order-service-ecommerce-boot image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/order-service-ecommerce-boot:${{ secrets.PROJECT_VERSION }}stage


